<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p></p>
<% if @user.ratings.empty? %>
    user has not yet ratings!
<% else %>
    Has <%= pluralize(@user.ratings.count, 'rating', 'ratings') %>, average
    <%= round(@user.average_rating) %>
    <p>
      <strong>Ratings:</strong>
    <ul>
      <% @user.ratings.each do |rating| %>
          <li>
            <%= rating %>
            <% if @user == current_user %>
                <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?'},class:"btn btn-danger" %>
            <% end %>
          </li>
      <% end %>
    </ul>

<% end %>

<% if !current_user.nil? and current_user.admin==true %>

    <% if @user.froze %>
        <p>
        <h3><span class="label label-info">Account frozen</span></h3>
        </p>
    <% end %>
    <p>
      <%= link_to 'Toggle froze account', method: froze(@user), class: "btn btn-default" %>
    </p>
<% end %>
<%= edit_and_destroy_buttons(@user) %>
<%= link_to 'Back', users_path, class: "btn btn-default" %>
