<div style="border-style: solid;">
  ratinglist: <%= ActionController::Base.new.fragment_exist?( 'ratingslist' )  %>
  <br>
</div>
<h1>Listing Ratings</h1>
<% cache 'ratingslist', expires_in: 10.minutes do %>
<p> Number of ratings: <%= @ratings.count %> </p>
<div class="row">
  <div class="col-md-3">
    <%= render 'list', ratings: @recent %>
  </div>
  <div class="col-md-3">
    <%= render 'listBeer', beers: @top_beers %>
  </div>
  <div class="col-md-3">
    <%= render 'listBrewery', breweries: @top_breweries %>
  </div>
  <div class="col-md-3">
    <%= render 'listUser', users: @top_users %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= render 'listStyle', styles: @top_styles %>
  </div>
</div>
<%end%>
<p>
  <%= link_to 'New rating', new_rating_path, class: "btn btn-primary" %>
</p>