<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <h2><%= @brewery.name %></h2>
</p>

<p>
  <strong>Year:</strong>
 <i>Established at <%= @brewery.year %></i>
</p>
Number of beers <%= @brewery.beers.count %>
<p>
 <% @brewery.beers.each do |beer| %>
   <%=link_to beer.name %>
 <% end %>
</p>
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
